<ion-header>
  <ion-toolbar color="primary" class="first">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-button>
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="mail-unread-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Mon tableau de bord</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary" class="toolbar-effect">
    <ion-searchbar color="light" class="ion-padding"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-vertical">
  <ion-grid *ngIf="location">
    <ion-row class="ion-padding-vertical property-infos">
      <ion-col size="6">
        <div class="ion-text-left">
          <ion-text class="ion-text-bold">Balance</ion-text>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="ion-text-right">
          <div color="success" *ngIf="location.balance > 0"><ion-text color="success">{{ location.balance }}</ion-text></div>
          <div color="danger" *ngIf="location.balance < 0"><ion-text color="success">{{ location.balance }}</ion-text></div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-margin-vertical" *ngIf="location && location.services.length">  
    <ion-row class="ion-padding-vertical" *ngFor="let service of location.services" class="location ion-no-border">
      <ion-col size="8">
        <div  class="ion-text-left date">{{ service.name }}</div>
      </ion-col>
      <ion-col size="4">
        <div  class="ion-text-right" *ngIf="location.balance > 0"><ion-text color="success">{{ service.amount }}</ion-text></div>
        <div  class="ion-text-right" *ngIf="location.balance < 0"><ion-text color="danger">{{ service.amount }}</ion-text></div>
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-content>